.root{

    /*APARIENCIA*/
    max-width: 40rem;
    height: 100vh; /*100vh indica que el recuadro abarque el 100 del alto */
    border: 1px solid black;
    border-radius: 5px;

    /*POSICIÓN Y POSICIÓN DE HIJOS*/
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    

    /*COMPORTAMIENTO*/
    /*Funcionalidad que tienen los botones, se observa generalmente en javascript*/

}
.root > h1{  /*root es archivo padre, modifica a los hijos, no nietos ni bisnietos*/
    margin-bottom: 3rem;
    font-size: 4rem;
    font-family:  'Fredoka One', cursive;
    text-align: center;
}

.bt-todo{
    border: 0;
    background-color: rgb(84, 247, 157);
    width: 6rem;
    height: 6rem;
    border-radius: 100%;

    position: absolute;
    right: 3rem;
    bottom: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.bt-todo > spam{
    font-size: 4rem;
    font-weight: 600;
    color: #ffff;
}

/* --- MODAL -------*/
.modal{
    width: 80%;
    height: 40%;
    background-color: rgb(143, 245, 194);


    position: absolute;
    /*Si todos los valores están en 0 y el margin auto debe centrarse*/
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 2rem;

    box-shadow: 11px 14px 49px 1px rgba(0,0,0,0.61);
    -webkit-box-shadow: 11px 14px 49px 1px rgba(0,0,0,0.61);
    -moz-box-shadow: 11px 14px 49px 1px rgba(0,0,0,0.61);

    
    /*Existe la caja pero está oculta*/
    display: none;

    flex-direction: column;
    

}
.modal button{
    border: 0;
    background-color: rgb(25, 32, 28);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;

    color: aliceblue;
    font-family:'Fredoka One', cursive;

    font-size: 1.6rem;
    cursor: pointer;

    width: 30%;
 
    box-shadow: 3px 3px 11px 1px rgba(0,0,0,0.61);
    -webkit-box-shadow: 3px 3px 11px 1px rgba(0,0,0,0.61);
    -moz-box-shadow: 3px 3px 11px 1px rgba(0,0,0,0.61);

    
    
}
.modal button:hover {
    transition-duration: 0.10s;
    background-color: #3b4b3b
}

.activar{
    display: block;
}
.prueba{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}
.modal input{
    height: 13rem;
}
.prueba1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-bottom: 2rem;
    margin-top: 0.5rem;
}
.cerrar{
    font-size: 2rem;
}