.root{

    /*APARIENCIA*/
    max-width: 40rem;
    height: 100vh; /*100vh indica que el recuadro abarque el 100 del alto */
    border: 1px solid black;
    border-radius: 5px;

    /*POSICIÓN Y POSICIÓN DE HIJOS*/
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    

    /*COMPORTAMIENTO*/
    /*Funcionalidad que tienen los botones, se observa generalmente en javascript*/

}
.root > h1{  /*root es archivo padre, modifica a los hijos, no nietos ni bisnietos*/
    margin-bottom: 3rem;
    font-size: 4rem;
    font-family:  'Fredoka One', cursive;
    text-align: center;
}

.bt-todo{
    border: 0;
    background-color: rgb(32, 207, 155);
    width: 6rem;
    height: 6rem;
    border-radius: 100%;

    position: absolute;
    right: 3rem;
    bottom: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

}

.bt-todo > spam{
    font-size: 4rem;
    font-weight: 600;
    color: #ffff;
}